<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specification</title>
    <td>
        Для того, чтобы выполнить SELECT по БД <b>ВСЕХ</b> элементов необходимо ставить после адреса <b>/all</b>
    </td>
    <td><br>
        Для того, чтобы выполнить поиск по табельному номеру, необходимоставить после адресса <b>/tabnum?tabnum=Номер</b>

    </td>
    <td><br>
        Для того, чтобы выполнить UPDATE записи по табельному номеру, <b>/update?balance=количество&tabnum=табельный номер кому перевести&fromtabnum=кто переводит</b>
    </td>
    <td> для админской учетки /update?balance=10&tabnum=5435345&admins=True</td>
<td>
        <br>
       Получить json авторизации /auth?login=ADMIN&password=ADMIN  Примерный JSON ответа {"Status": {"Boolean": "True", "Category": "admin"}} ,  True означает доступ разрешен. </b>
    </td>

    <td><br>
        Вывести историю по табельному номер: /history?tabnum=5435345
        <br> Вывести всю историю: /history
    </td>


    <td><br>
        Вывести все призы: /priz?all=True
        <br>
        Купить товар: /priz?tabnum=Табельный номер кто покупает&id=Номер в базе данных продукта (приходит в json)&count=Количество сколько человек хочет купить

    </td>
</head>
<body>

</body>
</html>